:root {
  --border-color: #fff;
  --border-size: 6px
}

.board div:nth-child(1),
.board div:nth-child(2) {
  border: var(--border-size) solid var(--border-color);
  border-top: none;
  border-left: none;
}

.board div:nth-child(3) {
  border-bottom: var(--border-size) solid var(--border-color);
}

.board div:nth-child(4) {
  border-right: var(--border-size) solid var(--border-color);
}

.board div:nth-child(5) {
  border-right: var(--border-size) solid var(--border-color);
}

.board div:nth-child(7),
.board div:nth-child(8) {
  border: var(--border-size) solid var(--border-color);
  border-bottom: none;
  border-left: none;
}

.board div:nth-child(9) {
  border-top: var(--border-size) solid var(--border-color);
}